.doodads {
	-webkit-user-select: none;
}
.doodad {
    background-color: #EEEEEE;
    overflow:hidden;
}
.doodad .inner {
    height: 50px;
    line-height: 50px;
    text-align: center;
    border: 1px dashed black;
    background-color: white;
    overflow:hidden;
}
.doodads .focus {
	border: 1px solid yellow;
}
.doodads .unfocus {
	opacity: 0.2;
}
.doodads .archive {
    background-color: yellow;
}
.doodads .delete {
    background-color: red;
}
.doodads .other {
    background-color: #C58917;
}
